<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gingermintsoftworkflows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/159bc004-d0b4-4aa1-b686-8d4b666543e3/resourcegroups/Default-Web-WestEurope/providers/Microsoft.Web/sites/GingerMintSoftWorkflows</ResourceId>
    <UserName>$GingerMintSoftWorkflows</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://gingermintsoftworkflows.scm.azurewebsites.net/</PublishUrl>
    <SCMUrl>https://gingermintsoftworkflows.scm.azurewebsites.net/</SCMUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>